/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header + Nav ***********/

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

header img {
  width: 60px;
  height: 20px;
  margin-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
}

nav a {
  padding: 10px;
  border-top: transparent solid 2px;
}

nav a:hover {
  color: var(--main-color);
  border-top: var(--main-color) solid 2px;
}

/****** Section filtres ***********/

h1 {
  font-size: 22px;
  margin: 0;
}

.filtre-search {
  margin: 40px 0 30px 0;
  display: flex;
  align-items: center;
}

.fa-location-dot {
  font-size: 18px;
  color: black;
  padding: 18px 15px 17px 20px;
  background-color: var(--main-bg-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

input {
  border: var(--main-bg-color) 2px solid;
  padding: 15px 24px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.filtre-search .search-btn {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: var(--main-color);
  border: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 16px;
  cursor: pointer;
}

.fa-magnifying-glass {
  display: none;
}

.filtre-radio {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.filtre-radio button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border: var(--main-bg-color) solid 2px;
  border-radius: 25px;
  padding: 15px;
}

.filtre-radio i {
  font-size: 18px;
  padding-right: 10px;
}

.filtre-radio button:hover {
  background-color: var(--filter-bg-color);
  cursor: pointer;
}

.filtre-result {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.circle-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: var(--main-bg-color) solid 2px;
  border-radius: 50%;
  width: 25px;
  aspect-ratio: 1 / 1;
  flex: 0 0 auto;
  margin-right: 10px;
  box-sizing: border-box;
}

.circle-container i {
  position: static;
  font-size: 12px;
  line-height: 1;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements h2 {
  margin: 0;
}

.hebergements h3 {
  margin: 0;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
}

.hebergements-cards .card img {
  width: 100%;
  height: 110px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding: 4px 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 6px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/

.activite {
  margin: 35px 0;
}

.activite h2 {
  padding: 30px;
  margin: 0;
}

.activite-card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
}

.activite-card a {
  flex: 1;
  display: block;
}

.activite-card .card {
  padding: 0;
  width: 100%;
  height: 100%;
}

.activite-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 380px;
  object-fit: cover;
  object-position: center;
}

.activite-card h3 {
  padding: 20px;
  margin: 0;
}

/****** Footer ***********/

footer {
  background-color: var(--main-bg-color);
  padding: 20px 0 20px 40px;
  display: flex;
  align-items: flex-start;
}

footer .footer-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 34%;
}

.footer-section h3 {
  margin: 10px 0;
}

.footer-section ul {
  margin: 0;
  padding: 0;
}

.footer-section li {
  list-style: none;
  padding: 10px 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activite-card h3 {
    font-size: 16px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  header {
    margin: 20px 0;
    justify-content: center;
    flex-direction: column;
  }

  header img {
    margin: 10px auto;
  }

  nav {
    width: 100%;
    justify-content: space-around;
    gap: 0;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav li {
    display: flex;
    width: 50%;
    justify-content: center;
    border-bottom: var(--main-bg-color) solid 2px;
  }

  nav .lien-hebergement {
    border-bottom: var(--main-color) solid 2px;
    color: var(--main-color);
  }

  nav a:hover {
    border: transparent;
  }

  .search {
    padding: 0 10px;
  }

  .search h1 {
    font-size: 16px;
  }

  .search p {
    font-size: 12px;
    margin: 5px 0;
  }

  .filtre-search {
    position: relative;
    margin: 10px 0;
    width: 100%;
  }

  input {
    padding: 15px 5px;
  }

  ::placeholder {
    font-size: 14px;
  }

  .filtre-search .search-btn {
    transform: translateX(-30px);
    padding: 18px;
    border-radius: 15px;
  }

  .filtre-search span {
    display: none;
  }

  .fa-magnifying-glass {
    display: block;
    color: white;
  }

  .filtre-radio {
    align-items: normal;
    flex-wrap: wrap;
    gap: 10px;
  }

  .filtre-radio h3 {
    width: 100%;
    margin: 5px 0;
  }

  .filtre-radio button {
    width: 45%;
    font-size: 12px;
    padding: 10px;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .populaires {
    margin: 0;
  }

  .populaires-cards {
    flex-direction: column;
    justify-content: center;
  }

  .populaires-cards a {
    width: 100%;
  }

  .hebergements-and-populaires .hebergements {
    background-color: white;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
  }

  .activite {
    margin: 0;
    padding: 10px 30px;
  }

  .activite h2 {
    padding: 30px 5px;
  }

  .activite-card {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    width: 100%;
  }

  .activite-card a {
    width: 100%;
    display: flex;
  }

  .activite-card img {
    width: 100%;
    height: 120px;
  }

  footer {
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    gap: 25px;
  }

  footer .footer-section {
    width: 100%;
  }
}
