/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header + Nav ***********/

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

header img {
  width: 60px;
  height: 20px;
  margin-top: 20px;
}

nav {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

nav a {
  padding-top: 10px;
  border-top: transparent solid 2px;
}

nav a:hover {
  color: #0065fc;
  border-top: #0065fc solid 2px;
}

/****** Section filtres ***********/

h1 {
  font-size: 22px;
  margin: 0;
}

.filtre__search {
  margin: 40px 0 30px 0;
  display: flex;
  align-items: center;
}

.fa-location-dot {
  font-size: 18px;
  color: black;
  padding: 17px 15px 17px 20px;
  background-color: #f2f2f2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

input {
  border: #f2f2f2 2px solid;
  padding: 16px 24px;
  text-align: center;
}
::placeholder {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.filtre__search button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #0065fc;
  border: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 16px;
  cursor: pointer;
}

.filtre__radio {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.filtre__radio button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border: #f2f2f2 solid 2px;
  border-radius: 25px;
  padding: 15px;
}

.filtre__radio i {
  font-size: 18px;
  padding-right: 10px;
}

.filtre__radio button:hover {
  background-color: #deebff;
  border-color: white;
  cursor: pointer;
}

.filtre__result {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.filtre__result i {
  font-size: 14px;
  border: #f2f2f2 solid 2px;
  border-radius: 50%;
  padding: 6px 10px;
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements h2 {
  margin: 0;
}

.hebergements h3 {
  margin: 0;
}

.hebergements__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0;
}

.hebergements__cards .card {
  display: flex;
  flex-direction: column;
}

.hebergements__cards .card img {
  width: 100%;
  height: 110px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements__cards .card-content {
  padding: 4px 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements__cards .card-title {
  margin-top: 10px;
  margin-bottom: 6px;
}

.hebergements__cards .card-subtitle {
  margin: 0;
}

.hebergements__cards .card-rating {
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/

.activite {
  margin: 35px 0;
}

.activite h2 {
  padding: 30px;
  margin: 0;
}

.activite__card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 0 30px;
}

.activite__card .card {
  padding: 0;
}

.activite__card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 300px;
  height: 380px;
}

.activite__card h3 {
  padding: 20px;
  margin: 0;
}

/****** Footer ***********/

footer {
  background-color: #f2f2f2;
  padding: 20px 0 20px 40px;
  display: flex;
  align-items: flex-start;
}

footer .footer__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 34%;
}

.footer__section h3 {
  margin: 10px 0;
}

.footer__section ul {
  margin: 0;
  padding: 0;
}

.footer__section li {
  list-style: none;
  padding: 10px 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
